# This file is part of PyWebpack
# Copyright (C) 2017 CERN.
#
# PyWebpack is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

notifications:
  email: false

sudo: false

language: python

matrix:
  fast_finish: true

cache:
  - pip

env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release DEPLOY=true
  - REQUIREMENTS=devel

python:
  - "2.7"
  - "3.5"

before_install:
  - "nvm install 6; nvm use 6"
  - "npm install -g webpack"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder -e all --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder -e all --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder -e all --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: inveniosoftware
  password:
    secure: "fhG3SEM8EAsJ1x3fqk03J53GUpmqTKF5WaFmpv6ANsD6MGFth+TnObX4LAp6T9VHPhHZyQMweAjLXQwzOciCSyn53x6jJcyCetEFnGxXIuUCE8VlMUw4XtM5Jj5HknxjnawfCcIsz1ZH8E91D0tkyTTqKGb8IuLmtCCVKTPGmzFnUqIDdxTN0RL0XHrCJBUuar88gzoJ8iZueSyu88+EVMYd7W4JhTjRKcxI/naPnuaSvOzUeZpZw9QkMX6tojZUjfxbnYwD5dy5MTStGZHvRhn1Yet+w3bUKgag6Tu036jizDwH1xOm3Xqm2xHMRxvaZDlxNpZt3fknxmq5BR8veDNB3Z3uUZuPsYY81mg+V5zNcshxtQx25DhP75H00P0XR59aLo8z3Rs27LlzoUPCT+9+i0pIB13++q4UhsuDl31kZQyIL8e1y93iUhX8jXAu6cPqHxE2H8NIdSUvprghUi/emDueyexOm0i6tMEuJ3Y2UGYEU8jtj8/g23Ob+g7R8scAqLffahzd55hx8HThqR9qwx4fZmanPkbOn9EyUFQ8IeKFLxPlrdXclu/ad/HxVbVkghvv6AQSmK5aYwCbIoTlyQWOioS6cFHy1V5WTzPQGiOkmwTYm4Q4/uCP8gODhSCM3/Zo1j18dYtZJSQ44B9o3iGqX2nUF+aW2b8GIzs="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    python: "2.7"
    repo: inveniosoftware/pywebpack
    condition: $DEPLOY = true
